@model ReservationApp.Models.ReservationIndex

@{
    ViewData["Title"] = "Reservation Details";
}

<h1>Reservation Details</h1>

<div> 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionNotes)
        </dd>
        <dt class = "col-sm-2">
            Table ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
