@model IEnumerable<ReservationApp.Models.ReservationIndex>

@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div>
        <h2 class="text-primary">Reservation List</h2>
    </div>
    <div class="col-6 align-items-end">
        <a asp-controller="Reservation" asp-action="Create" class="btn btn-primary" width="20%"><i class="bi bi-plus-circle-fill"></i>&nbsp;Add New Reservation</a>
      
    </div>
</div>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.NumberOfGuests)
            </th>  
             <th>
                Table
            </th>  
             <th>
                @Html.DisplayNameFor(model => model.BookingDateTime)
            </th> 
             <th>
                @Html.DisplayNameFor(model => model.AdditionNotes)
            </th> 
             <th>
                @Html.DisplayNameFor(model => model.ReservationStatus)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td width="5%">
                @Html.DisplayFor(modelItem => item.ReservationId)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.NumberOfGuests)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.TableID)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.BookingDateTime)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.AdditionNotes)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.ReservationStatus)
            </td>
            <td>
                <a asp-controller="Reservation" asp-action="Details" asp-route-id="@item.ReservationId" class="btn btn-outline-primary mx-4">Details</a>
                @if (User.IsInRole("admin"))
                {
                    <a asp-controller="Reservation" asp-action="Edit" asp-route-id="@item.ReservationId" class="btn btn-outline-primary mx-4">Edit</a>
                    <a asp-controller="Reservation" asp-action="Delete" asp-route-id="@item.ReservationId" class="btn btn-outline-primary mx-4">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
