@model IEnumerable<ReservationApp.Models.Users_in_Role_ViewModel>

@{
    ViewData["Title"] = "Staff List";
    int i = 1;
}


<div class="container p-3">
    <div>
        <h2 class="text-primary">Staff List</h2>
    </div>
    <div class="col-6 align-items-end">
         @if (User.IsInRole("admin"))
      {
        <a asp-controller="User" asp-action="CreateStaff" class="btn btn-primary" width="20%"><i class="bi bi-plus-circle-fill"></i>&nbsp;Add New Staff</a>
      }
    </div>
</div>
<br/>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.UserId)*@
                ID
            </th>
            <th>
                Avatar
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.UserId)*@
                @i
            </td>
            <td>                
                <img style="height:70px;width:80px" src="../Uploads/@item.Image"/>            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-outline-primary mx-4">Edit</a> |*@
                @*<a asp-action="Details" asp-route-id="@item.SittingId" class="btn btn-outline-primary mx-4">Details</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-outline-primary mx-4">Delete</a>*@
            </td>
        </tr>
        i = i + 1;
}
    </tbody>
</table>
